
 .card{
    width: 880px;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    
    align-items: center;
    margin:10px auto;
    height: 400px;
    margin: 40px auto;
}

.c-head{
    
    margin-top: 10px;
    margin-bottom: 10px;
} 




table{
    box-sizing: border-box;
    width: 80%;
    margin: 40px auto;
    justify-content: center;
    
}