.color {
  /* background-color: rgb(143, 136, 185); */
  background-color: #5F264A;
  color:aliceblue;
}

.home {
  border: none;

  background-color: #5F264A;
  color:aliceblue;
  /* background-color: rgb(158, 217, 237); */
}

.nav-link {
  margin-left: 0.2%;
  
}

.nav-link {
  margin-left: 0.2%;
  
}



